*{
    color: #fff;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Tablets */
@media screen and (max-width:768px) {
    
}

/* Celulares */
@media screen and (max-width:600px) {
    
}
